<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light site-navbar">
    <a class="navbar-brand" href="{{ site.baseurl }}/">Nilay Naharas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% for item in site.data.navigation %}
            {% assign is_active = false %}
            {% if item.link == '/' %}
                {% if page.url == '/' %}
                    {% assign is_active = true %}
                {% endif %}
            {% elsif page.url contains item.link %}
                {% assign is_active = true %}
            {% endif %}
            <li class="nav-item{% if is_active %} active{% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}{{ item.link }}">
                    {{ item.name }}{% if is_active %}<span class="sr-only"> (current)</span>{% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
